<?xml version="1.0"?>
<launch>
  <arg name="robotname" default="sos1"/>
  <arg name="initialx" default="0.0"/>
  <arg name="initialy" default="0.0"/>
  <group ns="$(arg robotname)">
  <node pkg="hector_mapping" type="hector_mapping" name="hector_mapping" >
    <param name="use_tf_pose_start_estimate" value="false" />
	<param name="map_start_x" value="$(eval 0.025 * arg('initialx') + 0.5)"/>
	<param name="map_start_y" value="$(eval 0.025 * arg('initialy') + 0.5)"/>   
    <param name="map_size" value="400"/>
    <param name="map_pub_period" value="0.5"/>
    <param name="map_resolution" value="0.2"/>
    <param name="laser_min_dist" value="0.08"/>
    <param name="laser_max_dist" value="30.0"/>
    <param name="map_update_distance_thresh" value="0.05"/>
    <param name="map_update_angle_thresh" value="0.07" />
    <param name="laser_z_min_value" value="-0.4" />
    <param name="laser_z_max_value" value="1.0" />
    <param name="pub_map_odom_transform" value="false"/>
    <param name="pub_map_scanmatch_transform" value="false"/>
    <param name="map_frame" value="/map" />
    <param name="base_frame" value="$(arg robotname)/base_link"/>
    <param name="odom_frame" value="$(arg robotname)/odom" />
    <remap from="scan" to="/$(arg robotname)/hokuyo" />
    <remap from="initialpose" to="/$(arg robotname)/initialpose"/>
  </node>
    <param name="hector_mapping/pub_map_odom_transform" value="true"/>
  </group>
</launch>
