<?xml version="1.0"?>
<launch>
    <arg name="robotname1" default="aura1"/>
    <arg name="robotname2" default="aura2"/>
    <arg name="robotname3" default="aura3"/>
    <arg name="robotname4" default="aura4"/>
    <arg name="robotname5" default="aura5"/>
    <arg name="t1" default="0.0"/>
    <arg name="t2" default="0.0"/>
    <arg name="t3" default="0.0"/>
    <arg name="t4" default="0.0"/>
    <arg name="t5" default="0.0"/>
    <group ns="$(arg robotname1)">
        <node pkg="aura" type="bfs_auto_move.py" name="$(arg robotname1)_automove" output="screen"
              args="$(arg robotname1) $(arg t1)"/>
    </group>
    <group ns="$(arg robotname2)">
        <node pkg="aura" type="bfs_auto_move.py" name="$(arg robotname2)_automove" output="screen"
              args="$(arg robotname2) $(arg t2)"/>
    </group>
    <group ns="$(arg robotname3)">
        <node pkg="aura" type="bfs_auto_move.py" name="$(arg robotname3)_automove" output="screen"
              args="$(arg robotname3) $(arg t3)"/>
    </group>
    <group ns="$(arg robotname4)">
        <node pkg="aura" type="bfs_auto_move.py" name="$(arg robotname4)_automove" output="screen"
              args="$(arg robotname4) $(arg t4)"/>
    </group>
    <group ns="$(arg robotname5)">
        <node pkg="aura" type="bfs_auto_move.py" name="$(arg robotname5)_automove" output="screen"
              args="$(arg robotname5) $(arg t5)"/>
    </group>
</launch>
