<?xml version="1.0"?>
<launch>
    <arg name="robotname0" default="robot0"/>
    <arg name="robotname1" default="robot1"/>
    <arg name="robotname2" default="robot2"/>
    <arg name="robotname3" default="robot3"/>
    <group ns="core">
        <node pkg="aura" type="core.py" name="core_builder" output="screen"/>
    </group>
</launch>
