<?xml version="1.0"?>
<launch>
    <arg name="robotname" default="robot0" />
    <group ns="$(arg robotname)">
    <node pkg="explore_lite" type="explore" name="explore" output="screen">
        <param name="robot_base_frame" value="base_link"/>
        <param name="costmap_topic" value="map" />
        <param name="visualise" value="true" />
        <param name="progress_timeout" value="5" />
        <!--param name="track_unknown_space" value="true" /-->
    </node>
    </group>
</launch>
