<?xml version="1.0"?>
<launch>
    <arg name="robotname1" default="aura1"/>
    <arg name="robotname2" default="aura2"/>
    <arg name="robotname3" default="aura3"/>
    <arg name="robotname4" default="aura4"/>
    <arg name="robotname5" default="aura5"/>
    <include file="$(find aura)/launch/gmapping2.launch">
        <arg name="robotname" value="$(arg robotname1)"/>
    </include>
    <include file="$(find aura)/launch/gmapping2.launch">
        <arg name="robotname" value="$(arg robotname2)"/>
    </include>
    <include file="$(find aura)/launch/gmapping2.launch">
        <arg name="robotname" value="$(arg robotname3)"/>
    </include>
    <include file="$(find aura)/launch/gmapping2.launch">
        <arg name="robotname" value="$(arg robotname4)"/>
    </include>
    <include file="$(find aura)/launch/gmapping2.launch">
        <arg name="robotname" value="$(arg robotname5)"/>
    </include>
    <include file="$(find aura)/launch/core.launch"/>
    <include file="$(find aura)/launch/move_base5.launch">
        <arg name="robotname" value="$(arg robotname1)"/>
    </include>
    <include file="$(find aura)/launch/move_base5.launch">
        <arg name="robotname" value="$(arg robotname2)"/>
    </include>
    <include file="$(find aura)/launch/move_base5.launch">
        <arg name="robotname" value="$(arg robotname3)"/>
    </include>
    <include file="$(find aura)/launch/move_base5.launch">
        <arg name="robotname" value="$(arg robotname4)"/>
    </include>
    <include file="$(find aura)/launch/move_base5.launch">
        <arg name="robotname" value="$(arg robotname5)"/>
    </include>
</launch>
