<?xml version="1.0"?>
<launch>
    <arg name="robotname" default="robotname0"/>

    <include file="$(find aura)/launch/camera.launch">
        <arg name="robotname" value="$(arg robotname)"/>
    </include>

    <include file="$(find aura)/launch/hot_victim_place.launch">
        <arg name="robotname" value="$(arg robotname)"/>
    </include>

    <include file="$(find aura)/launch/dead_victim_place.launch">
        <arg name="robotname" value="$(arg robotname)"/>
    </include>

    <include file="$(find aura)/launch/marker.launch">
        <arg name="robotname" value="$(arg robotname)"/>
    </include>

    <include file="$(find aura)/launch/alive_victim_place.launch">
        <arg name="robotname" value="$(arg robotname)"/>
    </include>
</launch>